<template>
  <div class="container mt-5 mb-5">
    <h1 class="titulos-subrayados mb-5" v-show="id">Editar direccion id: {{id}}</h1>
    <h1 class="titulos-subrayados mb-5" v-show="!id">Nueva direccion</h1>
    <form id="form" @submit.prevent="processProductForm" class="form-group m-auto row">
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.name" placeholder="Nombre" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.direccion_1" placeholder="Direccion 1" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.direccion_2" placeholder="Direccion 2" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.ciudad" placeholder="Ciudad" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.provincia" placeholder="Provincia" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.pais" placeholder="Pais" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <input class="form-control" type="text" v-model="address.telefono" placeholder="Telefono" required />
        </div>      
      <button type="submit" class="col-12 btn-global">Guardar</button>
    </form>
  </div>
</template>

<script>
export default {
  props: ["id"],
  name: "address-new",
  data: function() {
    return {
      address: {}
    };
  },
  mounted() {
    if (this.id) {
      this.address = this.user.direcciones.find(
        direccion => direccion.id == this.id
      );
    }
  },
  computed: {
    user() {
      return this.$store.getters.loggedUser;
    }
  },
  methods: {
    processProductForm() {
      if (!this.id) {
        this.$store
          .dispatch("addAddress", {
            id_user: this.user.id,
            address: this.address
          })
          .then(() => {
            alert("Dirección creada correctamente");
            this.$router.push({ name: "direcciones" });
          });
      } else {
        this.$store
          .dispatch("updateAddress", {
            id: this.id,
            id_user: this.user.id,
            address: this.address
          })
          .then(() => {
            alert("Dirección modificada correctamente");
            this.$router.push({ name: "direcciones" });
          });
      }
    }
  }
};
</script>


