<template>
  <div>
    <div>Nombre: {{address.name}}</div>
    <div>Direccion 1: {{address.direccion_1}}</div>
    <div>Direccion 2: {{address.direccion_2}}</div>
    <div>Ciudad: {{address.ciudad}}</div>
    <div>Provincia: {{address.provincia}}</div>
    <div>Pais: {{address.pais}}</div>
    <div>Telefono: {{address.telefono}}</div>
    <button @click="deleteAddress">Borrar</button>
    <button @click="editAddress">Editar</button>
  </div>
</template>
<script>
export default {
  props: ["id"],
  computed: {
    address() {
      return this.$store.getters.loggedUser.direcciones.find(
        address => address.id == this.id
      );
    }
  },
  created(){
      if(!this.address){
          this.$router.push({name:'home'})
      }
  },
  methods:{
    deleteAddress(){
      if(confirm("Estas seguro de querer borrar la direccion "+this.address.name+" ?")){
        this.$store.dispatch('deleteAddress',this.address.id)
      }
    },
    editAddress(){
      this.$router.push("/address/edit/"+this.address.id)
    }
  }
};
</script>