<template>
    <div class="container mb-5 mt-5">
      <h1 class="titulos-subrayados mb-5">Info del pedido</h1>
        <p><strong>ID:</strong> {{order.id}}</p>
        <p><strong>A nombre de:</strong> {{order.cliente.name}}</p>
        <p><strong>Pedido:</strong> {{order.referencia}}</p>
        <p><strong>Direccion:</strong> {{order.direccion.direccion_1}}</p>
        <p><strong>Provincia:</strong> {{order.direccion.provincia}}</p>
        <p><strong>País:</strong> {{order.direccion.pais}}</p>
        <p><strong>Estado:</strong> {{order.estado.name}}</p>
    </div>
</template>
<script>
export default {
  props: ["id"],
  computed: {
    order() {
      return this.$store.getters.loggedUser.pedidos.find(
        order => order.id == this.id
      );
    }
  },
  created(){
      if(!this.order){
          this.$router.push({name:'home'})
      }
  }
};
</script>