<template>
  <div class="container ficha-producto mt-5 mb-5">
    <div class="row mb-5">
      <div class="col-12 col-md-6">
        <img :src="producto.image" width="100%" height="auto" />
      </div>
      <div class="col-12 col-md-6 text-center mt-2">
        <h1 class="titulos-subrayados">{{producto.name}}</h1>
        <p>{{producto.descripcion_1}}</p>
        <p>{{producto.precio}} eur/ud</p>
        <form @submit.prevent="addToCart">
          <h3>Unidades:</h3>
          <select v-model="cantidadPedida">
            <option
              v-for="cantidad in (producto.stock<cantidadMaxima? producto.stock:cantidadMaxima)"
              :key="cantidad"
              :value="cantidad"
            >{{cantidad}}</option>
          </select>
          <br>
          <button type="submit" class="btn-add-cart mt-3">añadir al carrito</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="descripcion-producto">
      <h3>Información del producto:</h3>
      <p>{{producto.descripcion_2}}</p>
      <h3>Categoría:</h3>
      <router-link
        :to="{ name: 'categoria', params: { id: producto.categoria.id }}"
      >{{producto.categoria.name}}</router-link>
    </div>
    <hr>
  </div>
</template>
<script>
export default {
  props: ["id"],
  data: () => ({
    cantidadPedida: 1,
    cantidadMaxima: 15
  }),
  computed: {
    producto() {
      return this.$store.getters.getProductoById(this.id);
    }
  },
  methods: {
    addToCart() {
      let prodCart = this.$store.getters.getProductoInCarrito(this.producto.id);
      if (prodCart) {
        let nuevaCantidad =
          this.producto.stock + this.cantidadPedida > this.producto.stock
            ? this.producto.stock
            : this.producto.stock + this.cantidadPedida;
        this.$store.dispatch("updateProductoToCarrito", {
          id: prodCart.id,
          producto: prodCart.producto,
          cantidad: nuevaCantidad
        })
      } else {
        this.$store.dispatch("addProductoToCarrito", {
          id: this.producto.id,
          producto: this.producto,
          cantidad: this.cantidadPedida
        }).then(()=>{alert("Producto añadido a tu carrito correctamente")})
      }
    }
  }
};
</script>