<template>
  <div class="card card-address mb-5">
    <router-link :to="{ name: 'address', params: { id: address.id }}">
      <p>{{address.name}}</p>
      <p>{{address.direccion_1}}</p>
      <p>{{address.ciudad}}</p>
      <p>{{address.pais}}</p>
      <p>{{address.telefono}}</p>
    </router-link>
    <button @click="deleteAddress">Borrar</button>
    <button @click="editAddress">Editar</button>
  </div>
</template>
<script>
export default {
  name: "address-cardview",
  props: ["address"],
  methods: {
    deleteAddress() {
      if (
        confirm(
          "Estas seguro de querer borrar la direccion " +
            this.address.name +
            " ?"
        )
      ) {
        this.$store.dispatch("deleteAddress", this.address.id);
      }
    },
    editAddress() {
      this.$router.push("/address/edit/" + this.address.id);
    }
  }
};
</script>