<template>
  <div class="cart">
    <router-link :to="{ name: 'order', params: { id: order.id }}">
      <p>
        <strong>A nombre de:</strong>
        {{order.cliente.name}}
      </p>
      <p>
        <strong>Pedido:</strong>
        {{order.referencia}}
      </p>
      <p>
        <strong>Estado del pedido:</strong>
        {{order.estado.name}}
      </p>
    </router-link>
    <button class="btn-global mb-0" v-if="this.order.estado.id!=6" @click="cancelOrder">Cancelar pedido</button>
  </div>
</template>
<script>
export default {
  props: ["order"],
  name: "order-cardview",
  methods: {
    cancelOrder() {
      if (
        confirm(
          "Seguro que deseas cancelar el pedido con referencia: " +
            this.order.referencia +
            " ?"
        )
      ) {
        this.$store.dispatch("cambioEstado", { id: this.order.id, estado: 6 });
      }
    }
  }
};
</script>