<template>
  <!-- CARD -->
  <div id="card-products" class="col-2 col-sm-2 col-md-3 mb-4">
    <div class="card">
      <router-link :to="{ name: 'producto', params: { id: producto.id }}">
        <!-- TITULO -->
        <h3 class="card-title">{{producto.name}}</h3>
        <!-- FIN TITULO -->
        <!-- IMAGEN -->
        <img class="card-img-top" :src="producto.image" alt="Producto Batoi Logic" />
        <!-- FIN IMAGEN -->
        <!-- BOTONES -->
        <p class="btn-more">Ver más</p>
      </router-link>
      <!-- STOCK DEL PRODUCTO -->
      <p v-if="producto.stock > 0" class="badge badge-success">En stock</p>
      <p v-else-if="producto.stock == -1" class="badge badge-danger">descatalogado</p>
      <p v-else class="badge badge-warning">Bajo Pedido</p>
      <!-- FIN STOCK DEL PRODUCTO -->
      <button @click="addToCart" class="btn btn-cart">
        <img :src="require('../../assets/img/icono-carrito.png')" alt="Icono Carrito" width="20px" />
      </button>
      <!-- FIN BOTONES -->
    </div>
  </div>
  <!-- FIN CARD -->
</template>
<script>
export default {
  name: "product-cardview",
  props: {
    producto: {}
  },
  methods: {
    addToCart() {
      let prodCart = this.$store.getters.getProductoInCarrito(this.producto.id);
      if (prodCart) {
        let nuevaCantidad =
          (prodCart.cantidad + 1) < this.producto.stock
            ? prodCart.cantidad  + 1
            : this.producto.stock;
        this.$store.dispatch("updateProductoToCarrito", {
          id: prodCart.id,
          producto: prodCart.producto,
          cantidad: nuevaCantidad
        });
      } else {
        this.$store.dispatch("addProductoToCarrito", {
          id: this.producto.id,
          producto: this.producto,
          cantidad: 1
        });
      }
    }
  }
};
</script>