<template>
  <div class="container" id="acount-page">
    <div class="row mb-5 mt-5">
      <h1 class="col-12 mb-5 titulos-subrayados">Mi cuenta</h1>
      <router-link class="col-12 col-md-4 mb-3" :to="{ name: 'mis-pedidos' }">Pedidos</router-link>
      <router-link class="col-12 col-md-4 mb-3" :to="{ name: 'direcciones' }">Direcciones</router-link>
      <router-link class="col-12 col-md-4 mb-3" :to="{ name: 'datos' }">Mis datos</router-link>
    </div>
  </div>
</template>