<template>
  <div class="container mt-5 mb-5" id="address-page">
    <div class="row m-auto">
      <h1 class="col-12 titulos-subrayados mb-5">Mis direcciones</h1>
      <button class="col-12 btn-global" @click="goToNewAddress">añadir direccion</button>
      <AddressCardView v-for="address in myAddresses" :key="address.id" :address="address"></AddressCardView>
    </div>

    <div v-if="!myAddresses.length">
      <p>No hay direcciones</p>
    </div>
  </div>
</template>
<script>
import AddressCardView from "../card-views/AddressCardView";
export default {
  name: "my-addresses",
  computed: {
    myAddresses() {
      let myAddresses = this.$store.getters.loggedUser.direcciones;
      return myAddresses ? myAddresses : [];
    }
  },
  components: {
    AddressCardView
  },
  methods: {
    goToNewAddress() {
      this.$router.push({ name: "address-new" });
    }
  }
};
</script>