<template>
  <div class="container mt-5 mb-5" id="orders-page">
    <h1 class="titulos-subrayados mb-5">Pedidos</h1>
    <div class="row m-auto justify-content-center">
        <OrderCardView class="mb-3" v-for="order in myOrders" :key="order.id" :order="order"></OrderCardView>
    </div>
    <div v-if="!myOrders.length">
      <p>No hay Pedidos</p>
    </div>
  </div>
</template>
<script>
import OrderCardView from "../card-views/OrderCardView";
export default {
  name: "my-orders",
  computed: {
    myOrders() {
      return this.$store.getters.loggedUser.pedidos;
    }
  },
  components: {
    OrderCardView
  }
};
</script>