<template>
  <div class="container mb-5 mt-5" id="settings-page">
    <h1 class="titulos-subrayados mb-5">Mis datos</h1>
    <p>email: {{user.email}}</p>
    <p>name: {{user.name}}</p>
  </div>
</template>
<script>
export default {
  props: ["edit"],
  computed: {
    user() {
      return this.$store.getters.loggedUser;
    }
  }
};
</script>