<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon-batoilogic.png">
    <!-- SCRIPST FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f5402d4f8f.js" crossorigin="anonymous"></script>
    <title>BatoiLogic</title>
</head>

<body>
    <noscript>
      <strong>We're sorry but batoilogic-cliente doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>