<template>
    <div>
        <header id="banner-cat">
            <h1>{{categoria.name}}</h1>
        </header>
        <main class="container">
            <product-list :lista="lista"></product-list>
        </main>        
    </div>
</template>
<script>
import ProductList from './ProductList'
export default {
    props: ['id'],
    components:{
        ProductList
    },
    computed:{
        lista(){
            return this.categoria.productos
        },
        categoria(){
            return this.$store.getters.getCategoriaById(this.id);
        }
    }
}
</script>