<template>
    <div id="home">
        <div id="banner-home">
            <img src="../../src/assets/img/banner_Slider_descuento.png" alt="Descuento del mes" width="100%" height="auto">
        </div>
        <header>
            <h1>Últimas Novedades</h1>
            <p>¡Descubre todo lo que Batoi Logic te ofrece y date un capricho!</p>
        </header>

        <product-list></product-list>
    </div>
</template>
<script>
import ProductList from './ProductList'
export default {
    components:{
        ProductList
    }
}
</script>