<template>
  <div class="container m-auto">
    <div class="row mb-5">
      <ProductCardView
        class="ml-1"
        v-for="producto in productos"
        :key="producto.id"
        :producto="producto"
      ></ProductCardView>
    </div>
  </div>
</template>
<script>
import ProductCardView from "./card-views/ProductCardView";
export default {
  name: "product-list",
  props: ["lista"],
  components: {
    ProductCardView
  },
  computed: {
    productos() {
      if (this.isLista) {
        return this.lista;
      }
      return this.$store.getters.productos;
    },
    isLista() {
      return !!this.lista;
    }
  }
};
</script>