<template>
  <div class="container mt-5 mb-5">
    <h1 class="titulos-subrayados mb-5">Carrito</h1>
    <button class="btn-global" @click="limpiar">Limpiar cesta</button>
    <ProductCart class="ml-1" v-for="prodCart in carrito" :key="prodCart.id" :prodCart="prodCart"></ProductCart>
    <div class="mt-5" v-if="logged">
      <router-link class="btn-global" v-show="carrito.length>0" :to="{ name: 'checkout' }">Checkout</router-link>
    </div>
    <div v-else>necesitas estar logeado para comprar</div>
  </div>
</template>
<script>
import ProductCart from "./ProductCart";
export default {
  name: "cart-products",
  components: {
    ProductCart
  },
  computed: {
    logged() {
      return this.$store.getters.loggedIn;
    },
    carrito() {
      return this.$store.getters.carrito;
    }
  },
  methods: {
    limpiar() {
      this.$store.dispatch("clearCarrito");
    }
  }
};
</script>