<template>
  <div class="container mt-5 mb-5">
    <h1 class="titulos-subrayados mb-5">Checkout</h1>
    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        <h3>Direcciones</h3>
        <select v-model="selectedAddress" class="custom-select">
          <option
            v-for="address in user.direcciones"
            :key="address.id"
            :value="address.id"
          >{{address.name}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mt-4">
        <h3>Productos</h3>
        <ProductCart
          class="ml-1"
          v-for="prodCart in carrito"
          :key="prodCart.id"
          :prodCart="prodCart"
        ></ProductCart>
      </div>
    </div>
    <hr />
    <p class="mt-4">
      <strong>Precio total:</strong>
      {{totalPrice}}€
    </p>
    <button class="btn-global" @click="doPedido">aceptar</button>
  </div>
</template>
<script>
import ProductCart from "./ProductCart";
export default {
  name: "checkout-shop",
  data: () => ({
    selectedAddress: ""
  }),
  components: {
    ProductCart
  },
  computed: {
    carrito() {
      return this.$store.getters.carrito;
    },
    totalPrice() {
      return this.carrito.reduce(
        (total, prod) => total + prod.cantidad * prod.producto.precio,
        0
      );
    },
    user() {
      return this.$store.getters.loggedUser;
    }
  },
  methods: {
    doPedido() {
      if (this.selectedAddress) {
        this.$store
          .dispatch("addPedido", {
            cliente: this.user.id,
            address: this.selectedAddress
          })
          .then(() => {
            alert("Pedido creado correctamente");
            this.$store.dispatch("clearCarrito").then(() => {
              this.$router.push({ name: "mis-pedidos" });
            });
          });
      } else {
        alert("Selecciona una dirección");
      }
    }
  }
};
</script>