<template>
  <div class="product-cart mb-3 cart">
    <p class="mb-0">{{prodCart.producto.name}}</p>
    <select v-model="nuevaCantidad" @change="updateCart">
      <option
        v-for="cantidad in (prodCart.producto.stock < cantidadMaxima? prodCart.producto.stock:cantidadMaxima)"
        :key="cantidad"
        :value="cantidad"
      >{{cantidad}}</option>
    </select>
    <span> X </span>
    {{prodCart.producto.precio}}
    <button class="btn-delete" @click="deleteCart">delete</button>
  </div>
</template>
<script>
export default {
  name: "product-cart",
  props: ["prodCart"],
  data: () => ({
    nuevaCantidad: 0,
    cantidadMaxima: 15
  }),
  mounted() {
    this.nuevaCantidad = this.prodCart.cantidad;
  },
  methods: {
    updateCart() {
      this.$store.dispatch("updateProductoToCarrito", {
        id: this.prodCart.id,
        producto: this.prodCart.producto,
        cantidad: this.nuevaCantidad
      });
    },
    deleteCart() {
      this.$store.dispatch("deleteProductoToCarrito", this.prodCart.id);
    }
  }
};
</script>