<template>
  <div id="app">
    <!-- MENU WEB -->
    <header id="top-menu">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <router-link :to="{ name: 'home' }" class="navbar-nav mr-auto">
            <img src="../src/assets/img/logo.png" alt="Logo BatoiLogic" width="200px" height="auto">
          </router-link>
          <ul class="nav navbar-nav navbar-right" id="items-top-menu">  
              <li v-if="!loggedIn"><router-link :to="{ name: 'login' }" class="dropdown-item">Login</router-link></li>
              <li v-if="!loggedIn"><router-link :to="{ name: 'register' }" class="dropdown-item">Register</router-link></li>
              <li v-if="loggedIn"><router-link :to="{ name: 'mi-cuenta' }" class="dropdown-item">User</router-link></li>
              <li v-if="loggedIn"><router-link :to="{ name: 'logout' }" class="dropdown-item">Logout</router-link></li>
              <li><router-link :to="{ name: 'carrito' }" class="dropdown-item">
                <img :src="require('./assets/img/icono-carrito-blanco.png')" alt="Icono Carrito" width="20px" />
              </router-link></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- FIN MENU WEB -->

    <!-- MAIN -->
    <router-view></router-view>
    <!-- FIN MAIN -->
    
    <!-- FOOTER -->
    <footer>
      <div class="col-12 row ml-0 text-left">
        <div class="col-12 col-sm-4 col-md-3">
          <img src="../src/assets/img/logo.png" alt="Logo BatoiLogic" width="170px" height="auto">
          <p class="col-12 col-sm-11 col-md-10 p-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <h4>Categorias</h4>
          <ul class="list-category">
            <li v-for="categoria in categorias" :key="categoria.id">
              <router-link :to="{ name: 'categoria', params: { id: categoria.id } }">{{categoria.name}}</router-link>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <h4>Contacto</h4>
          <p>Calle de la piruleta, 69<br>
            03801, Alcoy - Alicante
          </p>
          <p class="mb-1"><a href="tel:666666666"><i class="fas fa-phone"></i> 666 666 666</a></p>
          <p><a href="mailto:info@batoilogic.com"><i class="fas fa-envelope-open-text"></i> info@batoilogic.com</a></p>
        </div>
        <div class="col-12 col-md-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24910.00197893207!2d-0.4959240947637875!3d38.70058084447762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61864e204bb377%3A0x3270bc5ab4510472!2sAlcoy%2C%20Alicante!5e0!3m2!1ses!2ses!4v1581774235910!5m2!1ses!2ses" width="100%" height="211" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <small class="col-12 row ml-0">
        <div class="col-12 col-md-6 text-left mb-2">
          <span>® Copyrigth 2020 Batoi Logic - Todos los derechos reservados</span> |
          <router-link :to="{ name: 'about' }">Sobre nosotros</router-link>
        </div>
        <div class="col-12 col-md-6 text-left text-md-right">
          <a href="#">Política de privacidad</a> |
          <a href="#">Política de coockies</a> |
          <a href="#">Aviso legal</a>
        </div>
      </small>
    </footer>
    <!-- FIN FOOTER -->
  </div>
</template>

<script>
export default {
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    categorias(){
      return this.$store.getters.categorias;
    }
  },
  mounted(){
    this.$store.dispatch("loadData");
  },
};
</script>