<template>
  <div class="container form-user">
    <h1>Iniciar sesión</h1>
    <div v-if="successMessage" class="success-message">{{ successMessage }}</div>
    <div v-if="serverError" class="server-error">{{ serverError }}</div>

    <!-- FORMULARIO INICIO -->
    <form @submit.prevent="login" class="col-4 m-auto">
      <div class="form-group">
        <input placeholder="Usuario" class="form-control" type="text" v-model="username" />
      </div>
      <div class="form-group">
        <input placeholder="Contraseña" class="form-control" type="password" v-model="password" />
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" required>He leido y acepto la <a href="#">política de privacidad</a></label>
      </div>
      <!-- BOTON CON EFECTO -->
      <div class="container-btn-submit">
        <section>
            <div class="btn-container">
                <input type="submit" class="btn-submit"/>
                <div class="ease"></div>
            </div>
        </section>
      </div>
      <!-- FIN BOTON CON EFECTO -->
    </form>
    <!-- FIN FORMULARIO -->
  </div>
</template>
<script>
export default {
  name: "login",
  props: {
    dataSuccessMessage: {
      type: String
    }
  },
  data() {
    return {
      username: "",
      password: "",
      serverError: "",
      successMessage: this.dataSuccessMessage,
      loading: false
    };
  },
  methods: {
    login() {
      this.loading = true;
      this.$store
        .dispatch("retrieveToken", {
          username: this.username,
          password: this.password
        })
        .then(() => {
          this.loading = false;
          this.$store.dispatch("retrieveUser");
          this.$router.push({ name: "home" });
        })
        .catch(error => {
          this.loading = false;
          this.serverError = error.response.data;
          this.password = "";
          this.successMessage = "";
        });
    }
  }
};
</script>