<template>
  <div class="container form-user">
    <h1>¡Únete a Batoi Logic!</h1>
    <div v-if="serverErrors">{{serverErrors}}</div>
    <div>
      <!-- FORMULARIO INICIO -->
      <form @submit.prevent="registrarse" class="col-4 m-auto">
        <div class="form-group">
          <input placeholder="Nombre" class="form-control" type="text" v-model="register.name" />
        </div>
        <div class="form-group">
          <input placeholder="Email" class="form-control" type="email" v-model="register.email" />
        </div>
        <div class="form-group">
          <input placeholder="Contraseña" class="form-control" type="password" v-model="register.password" />
        </div>
        <div class="form-group">
          <input placeholder="Confirmar Contraseña" class="form-control" type="password" v-model="register.password_confirmation" />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" required>He leido y acepto la <a href="#">política de privacidad</a></label>
        </div>
        <!-- BOTON CON EFECTO -->
        <div class="container-btn-submit">
          <section>
              <div class="btn-container">
                  <input type="submit" class="btn-submit" value="Registrarse"/>
                  <div class="ease"></div>
              </div>
          </section>
        </div>
        <!-- FIN BOTON CON EFECTO -->
      </form>
      <!-- FIN FORMULARIO -->
    </div>
  </div>
</template>
<script>
export default {
  name: "register-form",
  data: ()=>({
    register: {
      name: "",
      email: "",
      password: "",
      password_confirmation: "",
    },
    serverErrors: ""
  }),
  methods: {
    registrarse() {
      this.$store
        .dispatch("register", this.register)
        .then(() => {
          this.successMessage = "Registered Successfully!";
          this.$router.push({
            name: "login",
            params: { dataSuccessMessage: this.successMessage }
          });
        })
        .catch(error => {
          this.serverErrors = Object.values(error.response.data.errors);
        });
    }
  }
};
</script>