// ****** COLORES ******
$negro: #333033;
$primario: #e1b659;
$marron: #806b43;
$gris: #c2c1c2;
$grisClaro: #efefef;

// ****** FUENTES ******
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');
$fuenteTitulos: 'Poppins', sans-serif;
$fuenteTextos: 'Montserrat', sans-serif;

body {
    background-color: $grisClaro;
    #app {
        margin-top: 0 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        h1, h2, h3, h4 {
            font-family: $fuenteTitulos;
            font-weight: bold;
            color: $negro;
        }
        p, a {
            font-family: $fuenteTextos;
        }
        a {
            color: $negro;
            transition: 0.2s;
            &:hover {
                color: $primario;
                transition: 0.2s;
                text-decoration: none;
            }
        }

        .dropdown-item.active, .dropdown-item:active {
            background: none !important;
            color: $primario !important;
        }
        dropdown-item:focus, .dropdown-item:hover {
            background: none;
            border: none !important;
        }

        // MENU
        .navbar {
          background-color: $negro !important;
        }
        #top-menu {
            #items-top-menu {
                a {
                    position: relative;
                    display: inline-block;
                    color: white;
                    padding: 0 25px;
                    transition: 0.2s;
                    &:hover {
                        transition: 0.2s;
                        background: none;
                        color: $primario;
                        &:after {
                            width: 100%;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        left:0;
                        top: 100%;
                        width: 0;
                        height: 2px;
                        margin-top: 5px;
                        background-color: $primario;
                        transition: width .3s ease-in-out;
                    }
                    @media (max-width:535px) {
                        padding: 0 10px;
                    }
                }
            }
        }

        // HOME
        #home {
            #banner-home {
                margin-bottom: 70px;
            }
            header {
                margin-bottom: 50px;
                p {
                    width: 350px;
                    margin: auto;
                    font-weight: 100 !important;
                }
            }
        }

        // PRODUCTOS
        #card-products {
            border-radius: 0;
            flex: 0 0 32.50%;
            max-width: 32.50%;
            .card-title {
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    color: $primario;
                }
            }
            @media (max-width: 767px) {
                flex: 0 0 50%;
                max-width: 50%;
                margin: 10px 0 !important;
            }
            @media (max-width: 380px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            * {
                border-radius: 0;
            }
            h3 {
                font-size: 15px;
                margin: 15px 5px;
            }
            .btn-more {
                color: $negro !important;
                text-transform: uppercase;
                background-color: $primario;
                border: 1px solid $primario;
                padding: 5px;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    background-color: $negro;
                    color: $primario !important;
                }
            }
            img.card-img-top {
                height: 170px;
                width: 100%;
                object-fit: cover;
                &:hover {
                    filter: sepia(60%);
                }
            }
            .btn-cart {
                transition: 0.2s;
                &:hover{
                    transition: 0.2s;
                    -moz-transform: rotate(-15deg);
                    -o-transform: rotate(-15deg);
                    -webkit-transform: rotate(-15deg);
                    transform: rotate(-15deg);
                }
            }
            .badge-success,
            .badge-danger,
            .badge-warning {
                font-size: 14px;
                margin: 0;
                padding: 5px 10px;
                margin-top: -16px;
            }
        }

        // FORMULARIOS SESION
        .form-user {
            margin-top: 40px;
            margin-bottom: 40px;
            input.form-control {
                text-align: center;
            }
            .container-btn-submit {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                /* Floats button in the middle */
                section{
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    /* Make visable when hover */
                    .btn-container {
                        /* The white hover effect */
                        .ease {
                            width: 0px;
                            height: 50px;
                            background-color: white;
                            -webkit-transition: .3s ease;
                            -moz-transition: .3s ease;
                            -o-transition: .3s ease;
                            -ms-transition: .3s ease;
                            transition: .3s ease;
                        }
                        &:hover {
                            .ease {
                                width: 100%;
                                background-color: white;
                                border: 0;
                            }
                        }
                        /* The button */
                        .btn-submit {
                            float:left;
                            width: 100%;
                            padding: 10px;
                            border: 1px solid $primario;
                            cursor: pointer;
                            background-color: $primario;
                            color: $negro;
                            text-transform: uppercase;
                            font-family: $fuenteTextos;
                            font-size: 20px;
                            font-weight: 500;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            transition: all 0.3s;
                            /* Change text color & background opacity on hover*/
                            &:hover{
                                background-color: rgba(0,0,0,0);
                                color: $primario;
                            }
                        }
                    }        
                }
            }
        }

        // FOOTER
        #banner-cat {
            background-image: url("../img/banner-cat.jpg");
            height: 200px;
            margin-bottom: 30px;
            background-position: 64% 45%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 65px;
                text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.18);
                background: #000000a3;
                padding: 9px 42px;
                margin: 0;
                color: white;
            }
        }

        // PRODUCTO
        .ficha-producto {
            .btn-add-cart {
                background-color: $primario;
                font-family: $fuenteTextos;
                color: $negro;
                border: 1px solid $primario;
                text-transform: uppercase;
                padding: 5px 10px;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    color: $primario;
                    background-color: $negro;
                }
            }
            .descripcion-producto {
                text-align: left;
            }
        }

        // GLOBAL
        .titulos-subrayados {
            line-height: 35px;
            &:after {
                content: "";
                display: block;
                border-bottom: 20px solid $primario;
                width: 200px;
                margin: auto;
                margin-top: -20px;
                @media (min-width: 226px) {
                     margin-top: -15px;
                }
            }
        }

        .btn-global {
            background-color: $primario;
            color: $negro;
            border: 1px solid $primario;
            padding: 5px 40px;
            font-family: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                color: $primario;
                background-color: $negro;
            }
        }

        // CUENTA USUARIO
        #acount-page {
            a {
                border: 1px solid $negro;
                padding: 30px 20px;
                background-color: $primario;
                color: $negro;
                font-size: 25px;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    color: $primario;
                    background-color: $negro;
                }
            }
        }

        // AJUESTES / EDITAR AJUSTES
        #settings-page {
            a {
                background-color: $negro;
                color: $primario;
                border: 1px solid $primario;
                padding: 5px 40px;
                text-transform: uppercase;
                font-size: 20px;
                transition: 0.2S;
                &:hover {
                    transition: 0.2s;
                    color: $negro;
                    background-color: $primario;
                }
            }
        }
        
        //CARRITO
        .product-cart {
            .btn-delete {
                background-color: $marron;
                color: white;
                border: 1px solid $marron;
                text-transform: capitalize;
                padding: 3px 10px;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    color: $marron;
                    background-color: $negro;
                }
            }
        }

        // PEDIDOS
        #orders-page{
            .cart {
                border: 1px solid $primario;
                background-color: white;
                padding: 20px;
                margin: 0 10px;
            }
        }

        // DIRECCIONES
        #address-page {
            > div {
                justify-content: center;
            }
            .card-address {
                padding: 10px;
                border: 2px solid $negro;
                margin: 0 20px;
                border-radius: 0;
                p {
                    margin: 0;
                }
                button {
                    &:nth-child(odd) {
                        background-color: $marron;
                        color: white;
                        border: 1px solid $marron;
                        font-style: $fuenteTextos;
                        transition: 0.2s;
                        &:hover {
                            transition: 0.2s;
                            color: $negro;
                            background-color: white;
                        }
                    }
                    &:nth-child(even) {
                        margin-top: 20px;
                        background-color: $negro;
                        color: white;
                        border: 1px solid $marron;
                        font-style: $fuenteTextos;
                        transition: 0.2s;
                        &:hover {
                            transition: 0.2s;
                            color: $negro;
                            background-color: white;
                        }
                    }
                }
            }
        }

        // FOOTER
        footer {
            padding-top: 30px;
            background-color: $negro;
            color: white;
            p {
                font-size: 14px;
                font-weight: 100;
            }
            h4 {
                color: white;
                &:after {
                    content: "";
                    display: block;
                    border-bottom: 5px solid $primario;
                    width: 170px;
                }
            }
            a {
                color: white !important;
                &:hover {
                     color: $primario !important;
                }
            }
            .list-category {
                padding-inline-start: 18px;
            }
            small {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-top: 30px;
                border-top: 5px solid $primario;
                a {
                    transition: 0.2s;
                    color: white;
                    &:hover {
                        transition: 0.2s;
                        color: $primario;
                    }
                }
            }
        }
    }
}